<!DOCTYPE html>
<html lang="en">
<%-include ("partials/head.ejs", { pageName : "Home" })%>
<body>
    <%-include ("partials/nav.ejs")%>
    <div class="movieContainer">
    <h1 class="indexTitle">All Movies</h1>
    <div class="allMovies">
        <% for(let i=0; i<movies.length; i++) { %>
            <% const movie = movies[i] %>
                <div class="movieGrid">
                    <img src="<%= movie.poster %>" alt="Poster image" />
                    <br>
                    <a class = "title" href="/movies/<%=movie._id%>"><%=movie.title%></a>
                    <form method="POST" action="/movies/<%= movie._id %>?_method=DELETE">   
                        <input type="submit" value="Delete Movie"/>
                    </form>
                </div>
        <% } %>
    </div>
    </div>
</body>
</html>