<!DOCTYPE html>
<html lang="en">
<%-include ("partials/head.ejs")%>
<body>
    <%-include ("partials/nav.ejs")%>
    <h1>All Movies</h1>
    <div class=movieContainer>
        <% for(let i=0; i<movies.length; i++) { %>
            <% const movie = movies[i] %>
            <div class="movieGrid">
            <img src="<%= movie.poster %>" alt="Poster image" />
            <br>
            <a class = "title" href="/movies/<%=movie._id%>"><%=movie.title%></a>
            </div>
            <div>
                <form method="POST" action="/movies/<%= movie._id %>?_method=DELETE">   
                    <input type="submit" value="Delete Movie"/>
                </form>
            </div>
       <% } %>
    </div>

</body>
</html>