<!DOCTYPE html>
<html lang="en">
    <%-include ("partials/head.ejs", { pageName : "Movie Page" })%>
<body>
    <%-include ("partials/nav.ejs")%>
    <div class="showContainer">
        <h1 class="showTitle"> <%=oneMovie.title%></h1>
        <img src="<%=oneMovie.poster%>" alt="<%=oneMovie.title%>" />
        <div class="showInfo">
            <p> Directed by: <%=oneMovie.director %></p> <br>
            <p> Synopsis: <%=oneMovie.synopsis %></p> <br>
            <p> Released On: <%=oneMovie.releaseDate %>/<%=oneMovie.releaseMonth%>/<%=oneMovie.releaseYear%></p> <br>
        </div>
    </div>
    
 
        <a class = "edit" href="/movies/<%=oneMovie._id%>/edit">Edit <%=oneMovie.title%></a>

    <div class = "reviewContainer">
        <h2>Add Your Review</h2>
        <% if (user) { %>
            <form action = "/reviews" method = "POST">
                <label> Rate this movie out of 10: </label> 
                <input name = "rating" type = "number" />
                <label> Add Your Review: </label>
                <input name = "comment" type = "text" />
                <input type = "hidden" name = "movie" value = "<%=oneMovie._id%>"/>
                <input type = "hidden" name = "user" value = "<%=user.id%>"/>
                <input type = "submit" value = "post review" />
            </form>
            <% } %>
    </div>

    <div class = "display-reviews">
        <% for (let i = 0; i<reviews.length; i++) { %>
            <h3>
                User name : <%= reviews[i].user.user%>
                Rating: <%=reviews[i].rating%>
            </h3>
            <p><%=reviews[i].comment%></p>
            <% if (user.user == undefined) { %>
                <p class = "not-logged-in"> Please log in to make a review.</p>
                <% } else if (user.user == reviews[i].user.user) {%> 
                    <form method = "POST" action = "/reviews/<%=reviews[i]._id%>?_method=DELETE">
                    <input type="submit" value="delete review" />
                    <a href="/reviews/<%=reviews[i]._id%>/edit">Edit Review</a>
                    </form>
                <%}%>
        <% } %>
    </div>

</body>
</html>
